* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #171819;
}

body {
    background-color: #F5F5F5;
    font-family: itc-avant-garde-gothic-pro,sans-serif;
    font-weight: 300;
    font-style: normal;
    /* overflow-x: hidden; */
}

h1, h2 {
    font-weight: normal;
}

li, a, button {
    font-size: 18px;
    color: #171819;
    text-decoration: none;
}

/* NAV BAR */

header {
    background-color: white;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding: 10px 0 2px;
    width: 100%;
    position: relative;
    max-width: 100%;
    min-width: 1000px;
}

#nav-name {
    background-color: white;
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

.nav-buttons {
    list-style: none;
}

.nav-buttons, li {
    display: inline-block;
    padding: 0 35px;
}

.nav-buttons, li, a {
    background-color: white;
    transition: all 0.3s ease 0s;
    position: relative;
} 

.nav-buttons, li, a:hover {
    color: gray;
}

button {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 32px;
}

/* RESUME BUTTON ANIMATION */

.resume-button {
    padding: 15px;
}

.resume-button::after, .resume-button::before {
    border: 3px solid #000;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.resume-button:hover::after {
     transform: translate(-5px, -5px);
}

.resume-button:hover::before {
     transform: translate(5px, 5px);
}

/* HOME SCREEN SECTIONS --- index.html */

#home_wrapper {

}

.home-section-one *{
    color: #F5F5F5;
    background-color: #171819;
    height: 600px;
    padding: 20px; /* TEMPORARY */
    display: flex; /* TEMPORARY */
    justify-content: center; /* TEMPORARY */
    align-items: center; /* TEMPORARY */
}

.home-section-two *{
    color: #171819;
    background-color: #F5F5F5;
    height: 600px;

}

.home-section-three *{
    color: #F5F5F5;
    background-color: #171819;
    height: 600px;
    padding: 20px; /* TEMPORARY */
    display: flex; /* TEMPORARY */
    justify-content: center; /* TEMPORARY */
    align-items: center; /* TEMPORARY */
}

.home-section-four {
    display: grid;
    color: #171819;
    background-color: #F5F5F5;
    height: 600px;
    grid-template-columns: repeat(2, 1fr);
}

#home-section-four-left {
    margin: auto 0 auto;
    justify-self: center;
}

#home-section-four-left-text {
    font-size: 32px;
}

#home-section-four-right {
    margin: auto 0 auto;
    justify-self: center;
}

#home-section-four-right-text {
    font-size: 21px;
    width: 350px;
}


/* ABOUT --- about.html */

#about_title {
    margin: 3.5rem 0 2.5rem 3em;
}

#about_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10%;
}

#about_left {
    justify-self: center;
    /* border: #171819 3px solid; TEMPORARY */
}

#about_pfp {
    border-radius: 1rem;
    width: 470px;
}

#about_right {
    /* border: #171819 3px solid; TEMPORARY */
}

#about_name {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.about_top_three {
    /* border: #171819 1px solid; */
    background-color: white;
    width: 525px;
    height: 55px;
    padding: 11px;
    border-radius: .50rem;
    margin: 15px 0;
    font-weight: 300;
}

#about_p {
    width: 520px;
    margin-top: 1.5rem;
}

#about_p a {
    background-color: #F5F5F5;
    color: #96031A;
}

/* PORTFOLIO  --- portfolio.html */

#portfolio_title {
    text-align: center;
    margin-top: 5rem;
}

#project_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(544px, 1fr));
    grid-gap: 5rem;
    margin: 5% 7.5%;
}

.project_div {
    width: 85%;
    justify-self: center;
}

.project_div a {
    background-color: #F5F5F5;
}

.project_div h2 {
    margin-bottom: 0.5rem;
}

.project_thumb {
    border: #171819 3px solid;
    border-radius: 2em;
    max-width: 100%;
    margin-bottom: 1rem;
    height: 352px;
    width: 544px;
    transition: .35s;
}

.project_thumb:hover {
    transform:scale(1.05);
    box-shadow: 10px 10px 15px #888888;
    z-index:2;
}

/* DESIGN --- design.html */

#design_phil {
    margin: 3.5rem 0 2.5rem 3em;
}

.design_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5%;
}

#design_pic_div_top{
    justify-self: end;
    margin-right: 5%;
}

#design_pic_top {
    width: 550px;
}

#design_p1_div {
    margin: auto 0 auto 5%;
}

#design_p1 {
    background-color: white;
    width: 425px;
    padding: 25px;
    border-radius: 1rem;
    font-size: 19px;
}

#design_process {
    margin: 3.5rem 0 2.5rem;
    margin-right: 17%;
    text-align: right;
}

#design_pic_div_bot {
    justify-self: start;
    margin-left: 5%;
}

#design_pic_bot {
    width: 375px;
}

#design_p2_div {
    margin: auto 5% auto auto;
    justify-items: end;
    margin-left: auto;
}

#design_p2 {
    background-color: white;
    width: 425px;
    padding: 25px;
    border-radius: 1rem;
    font-size: 19px;
}

/* FOOTER */

footer *{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
}